{{#our-modal title="Add machine" param=model save="save" cancel="cancel"}}
  My selectedItem {{mySelectedItem.name}}
  <form>
    <div class="modal-body">
      <p class="form-group">
        <label class='control-label col-sm-2'>Machine</label>
        <div class="col-sm-10">
          {{my-select content=model.providers action=(action (mut mySelectedItem))}}
        </div>
      </p>
      <ul>
        {{#each mySelectedItem.machineTemplates as |tpl|}}
          <li>{{tpl.name}} - {{tpl.disk}}</li>
        {{/each}}
      </ul>
      {{machine-form machine="model.machine"}}
    </div>
  </form>
{{/our-modal}}
