<div class="modal" style='display: block'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add runscript</h4>
      </div>
      <div class="modal-body">
        <p><label>name</label> {{input name="name" value=model.name}}</p>
        <p><label>script</label> {{textarea name="name" rows="10" cols="40" value=model.script}}</p>
        <p><label>tags</label> {{input name="tags" value=model.tags}}</p>
        <p><label>apply now</label> {{input type="checkbox" name="apply-now"}}</p>
      </div>
      <div class="modal-footer">
        <button {{action 'save' model}}>save</button>
        <button {{action 'cancel'}}>cancel</button>
      </div>
    </div>
  </div>
</div>
