{{outlet}}

<h1>Machines</h1>
<div class="row machine-index">
  <div class="col-xs-6 col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">New machine</div>
      <div class="panel-body">
        {{#link-to 'machines.new'}}
          <span class="new-machine glyphicon glyphicon-plus" aria-hidden="true"></span>
        {{/link-to}}
      </div>
    </div>
  </div>

  {{#each model as |machine|}}
    <div class="col-xs-6 col-lg-4">
      <div class="panel panel-{{machine-status machine.status}}">
        <div class="panel-heading">
          <div class='pull-right'>
            {{#link-to 'machines.edit' machine.id}}
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            {{/link-to}}
            {{#link-to 'machines'}}
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {{/link-to}}
          </div>
          {{machine.name}}
        </div>
        <div class="panel-body">
          <p>
            {{machine.diskUsage}} used
          </p>
          <p>
            {{#each machine.tagList as |tag|}}
              <span class="label label-info">{{tag}}</span>
            {{/each}}
          </p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
